
<!-- templates/login.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Login</h2>
  {% if error %}
    <p style="color: red">{{ error }}</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <p>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
      <input type="password" name="password" id="password">
      <button type="submit">Login</button>
      <a href="{% url 'signup' %}">sorry i dont have an account!!!!!</a>
      
    </p>
    {% endblock %}
